@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open-sans-bold_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-bold_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans-light_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-light_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans-semibold_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-semibold_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-medium_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}